<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include ../templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/messaging/inbox.css">
</head>
<body>
<% include ../templates/navbar.ejs %>

<div class="container"id="main_body">
    <div class=row">
        <!-- 3/9 2/10  Buttons on the Left, Inbox on the Right-->
        <!-- Buttons -->
        <div class="col-sm-3 col-md-2">
            <!-- New Message Button -->
            <a href="#" class="btn btn-danger btn-sm btn-block" role="button" id="btn_New_Message">New Message</a>
            <hr>
            <!-- Bottom Buttons -->
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#"><span class="badge pull-right">New</span> Inbox </a></li>
                <li><a href="#">Offers</a></li>
                <li><a href="#">Important</a></li>
                <li><a href="#">Sent Mail</a></li>
                <li><a href="#">Deleted</a></li>
            </ul>
        </div>

        <!-- Inbox -->
        <div class="col-sm-9 col-md-10" >
            <!-- Header -->
            <div id=Inbox_Header">
                <!-- Mark Read Button -->
                <button type="button" class="btn btn-default pull-right" data-toggle="tooltip" title="Mark all as Read">Mark all as Read</button>
                <!-- Refresh Button -->
                <button type="button" class="btn btn-default pull-right" data-toggle="tooltip" title="Refresh">
                    &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;&nbsp;</button>
                <!-- Title -->
                <h2>Name's Inbox</h2>
                <hr>
            </div>


            <!-- Contents -->
            <ul class="list-group" id="Inbox_Contents">

                <!-- Example Message -->
                <li class="list-group-item message_item active">
                    <!-- Star -->
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <!-- Other User's Name -->
                    <div class="message_sender_username">
                        <span class="message_sender_username_text">A User</span>
                    </div>
                    <!-- Message Subject -->
                    <span class="message_subject">Subject - </span>
                    <!-- Message Preview -->
                    <div class="message_preview">
                        <span class="message_preview_text">A small preview of the message contents.</span>
                    </div>


                    <div class="pull-right">
                        <!-- Type -->
                        <span class="glyphicon glyphicon glyphicon-leaf"
                              data-toggle="tooltip" data-placement="left" title="Offer Related"></span>
                        <!-- Receive Date -->
                        <span class="badge">12:00 PM</span>
                        <!-- Trash Can -->
                        <a href="#"><span class="glyphicon glyphicon glyphicon glyphicon glyphicon-trash"
                              data-toggle="tooltip" data-placement="left" title="Delete"></span></a>
                    </div>
                </li>

                <!-- Example Message 2 -->

                <li class="list-group-item message_item active">
                    <!-- Star -->
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <!-- Other User's Name -->
                    <div class="message_sender_username">
                        <span class="message_sender_username_text">A User WITH A LONG NAAAAAAAAAAAAAAAAAAAAAAAAAME</span>
                    </div>

                    <div class="message_preview">
                        <!-- Message Subject -->
                        <span class="message_subject">Subject - </span>
                        <!-- Message Preview -->
                        <span class="message_preview_text">A small preview of the message contents. I wish this text would disappear on smaller displays.</span>
                    </div>


                    <div class="pull-right">
                        <!-- Type -->
                        <span class="glyphicon glyphicon glyphicon-user"
                              data-toggle="tooltip" data-placement="left" title="Conversation"></span>
                        <!-- Receive Date -->
                        <span class="badge">12:00 PM</span>
                        <!-- Trash Can -->
                        <a href="#"><span class="glyphicon glyphicon glyphicon glyphicon glyphicon-trash"
                                          data-toggle="tooltip" data-placement="left" title="Delete"></span></a>
                    </div>
                </li>


                <!-- Example  -->

                <!-- Example  -->

                <!-- Example  -->

                <!-- Example  -->

                <!-- Example  -->
                <!-- Example  -->
                <!-- Example  -->
                <!-- Example  -->

                <li class="list-group-item message_item active">
                    <!-- Star -->
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <!-- Other User's Name -->
                    <div class="message_sender_username">
                        <span class="message_sender_username_text">Example</span>
                    </div>

                    <div class="message_preview">
                        <!-- Message Subject -->
                        <span class="message_subject">Subject - </span>
                        <!-- Message Preview -->
                        <span class="message_preview_text">Example</span>
                    </div>


                    <div class="pull-right">
                        <!-- Type -->
                        <span class="glyphicon glyphicon glyphicon-leaf"
                              data-toggle="tooltip" data-placement="left" title="Offer Related"></span>
                        <!-- Receive Date -->
                        <span class="badge">00:00 AM</span>
                        <!-- Trash Can -->
                        <a href="#"><span class="glyphicon glyphicon glyphicon glyphicon glyphicon-trash"
                                          data-toggle="tooltip" data-placement="left" title="Delete"></span></a>
                    </div>
                </li>
                <li class="list-group-item message_item">
                    <!-- Star -->
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <!-- Other User's Name -->
                    <div class="message_sender_username">
                        <span class="message_sender_username_text">Example</span>
                    </div>

                    <div class="message_preview">
                        <!-- Message Subject -->
                        <span class="message_subject">Subject - </span>
                        <!-- Message Preview -->
                        <span class="message_preview_text">Example</span>
                    </div>


                    <div class="pull-right">
                        <!-- Type -->
                        <span class="glyphicon glyphicon glyphicon-leaf"
                              data-toggle="tooltip" data-placement="left" title="Offer Related"></span>
                        <!-- Receive Date -->
                        <span class="badge">00:00 AM</span>
                        <!-- Trash Can -->
                        <a href="#"><span class="glyphicon glyphicon glyphicon glyphicon glyphicon-trash"
                                          data-toggle="tooltip" data-placement="left" title="Delete"></span></a>
                    </div>
                </li>
                <li class="list-group-item message_item">
                    <!-- Star -->
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <!-- Other User's Name -->
                    <div class="message_sender_username">
                        <span class="message_sender_username_text">Example</span>
                    </div>

                    <div class="message_preview">
                        <!-- Message Subject -->
                        <span class="message_subject">Subject - </span>
                        <!-- Message Preview -->
                        <span class="message_preview_text">Example</span>
                    </div>


                    <div class="pull-right">
                        <!-- Type -->
                        <span class="glyphicon glyphicon glyphicon-leaf"
                              data-toggle="tooltip" data-placement="left" title="Offer Related"></span>
                        <!-- Receive Date -->
                        <span class="badge">00:00 AM</span>
                        <!-- Trash Can -->
                        <a href="#"><span class="glyphicon glyphicon glyphicon glyphicon glyphicon-trash"
                                          data-toggle="tooltip" data-placement="left" title="Delete"></span></a>
                    </div>
                </li>
                <li class="list-group-item message_item ">
                    <!-- Star -->
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <!-- Other User's Name -->
                    <div class="message_sender_username">
                        <span class="message_sender_username_text">Example</span>
                    </div>

                    <div class="message_preview">
                        <!-- Message Subject -->
                        <span class="message_subject">Subject - </span>
                        <!-- Message Preview -->
                        <span class="message_preview_text">Example</span>
                    </div>


                    <div class="pull-right">
                        <!-- Type -->
                        <span class="glyphicon glyphicon glyphicon-leaf"
                              data-toggle="tooltip" data-placement="left" title="Offer Related"></span>
                        <!-- Receive Date -->
                        <span class="badge">00:00 AM</span>
                        <!-- Trash Can -->
                        <a href="#"><span class="glyphicon glyphicon glyphicon glyphicon glyphicon-trash"
                                          data-toggle="tooltip" data-placement="left" title="Delete"></span></a>
                    </div>
                </li>
                <li class="list-group-item message_item ">
                    <!-- Star -->
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <!-- Other User's Name -->
                    <div class="message_sender_username">
                        <span class="message_sender_username_text">Example</span>
                    </div>

                    <div class="message_preview">
                        <!-- Message Subject -->
                        <span class="message_subject">Subject - </span>
                        <!-- Message Preview -->
                        <span class="message_preview_text">Example</span>
                    </div>


                    <div class="pull-right">
                        <!-- Type -->
                        <span class="glyphicon glyphicon glyphicon-leaf"
                              data-toggle="tooltip" data-placement="left" title="Offer Related"></span>
                        <!-- Receive Date -->
                        <span class="badge">00:00 AM</span>
                        <!-- Trash Can -->
                        <a href="#"><span class="glyphicon glyphicon glyphicon glyphicon glyphicon-trash"
                                          data-toggle="tooltip" data-placement="left" title="Delete"></span></a>
                    </div>
                </li>
                <li class="list-group-item message_item ">
                    <!-- Star -->
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <!-- Other User's Name -->
                    <div class="message_sender_username">
                        <span class="message_sender_username_text">Example</span>
                    </div>

                    <div class="message_preview">
                        <!-- Message Subject -->
                        <span class="message_subject">Subject - </span>
                        <!-- Message Preview -->
                        <span class="message_preview_text">Example</span>
                    </div>


                    <div class="pull-right">
                        <!-- Type -->
                        <span class="glyphicon glyphicon glyphicon-leaf"
                              data-toggle="tooltip" data-placement="left" title="Offer Related"></span>
                        <!-- Receive Date -->
                        <span class="badge">00:00 AM</span>
                        <!-- Trash Can -->
                        <a href="#"><span class="glyphicon glyphicon glyphicon glyphicon glyphicon-trash"
                                          data-toggle="tooltip" data-placement="left" title="Delete"></span></a>
                    </div>
                </li>
                <li class="list-group-item message_item ">
                    <!-- Star -->
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <!-- Other User's Name -->
                    <div class="message_sender_username">
                        <span class="message_sender_username_text">Example</span>
                    </div>

                    <div class="message_preview">
                        <!-- Message Subject -->
                        <span class="message_subject">Subject - </span>
                        <!-- Message Preview -->
                        <span class="message_preview_text">Example</span>
                    </div>


                    <div class="pull-right">
                        <!-- Type -->
                        <span class="glyphicon glyphicon glyphicon-leaf"
                              data-toggle="tooltip" data-placement="left" title="Offer Related"></span>
                        <!-- Receive Date -->
                        <span class="badge">00:00 AM</span>
                        <!-- Trash Can -->
                        <a href="#"><span class="glyphicon glyphicon glyphicon glyphicon glyphicon-trash"
                                          data-toggle="tooltip" data-placement="left" title="Delete"></span></a>
                    </div>
                </li>
                <li class="list-group-item message_item ">
                    <!-- Star -->
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <!-- Other User's Name -->
                    <div class="message_sender_username">
                        <span class="message_sender_username_text">Example</span>
                    </div>

                    <div class="message_preview">
                        <!-- Message Subject -->
                        <span class="message_subject">Subject - </span>
                        <!-- Message Preview -->
                        <span class="message_preview_text">Example</span>
                    </div>


                    <div class="pull-right">
                        <!-- Type -->
                        <span class="glyphicon glyphicon glyphicon-leaf"
                              data-toggle="tooltip" data-placement="left" title="Offer Related"></span>
                        <!-- Receive Date -->
                        <span class="badge">00:00 AM</span>
                        <!-- Trash Can -->
                        <a href="#"><span class="glyphicon glyphicon glyphicon glyphicon glyphicon-trash"
                                          data-toggle="tooltip" data-placement="left" title="Delete"></span></a>
                    </div>
                </li>
                <li class="list-group-item message_item ">
                    <!-- Star -->
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <!-- Other User's Name -->
                    <div class="message_sender_username">
                        <span class="message_sender_username_text">Example</span>
                    </div>

                    <div class="message_preview">
                        <!-- Message Subject -->
                        <span class="message_subject">Subject - </span>
                        <!-- Message Preview -->
                        <span class="message_preview_text">Example</span>
                    </div>


                    <div class="pull-right">
                        <!-- Type -->
                        <span class="glyphicon glyphicon glyphicon-leaf"
                              data-toggle="tooltip" data-placement="left" title="Offer Related"></span>
                        <!-- Receive Date -->
                        <span class="badge">00:00 AM</span>
                        <!-- Trash Can -->
                        <a href="#"><span class="glyphicon glyphicon glyphicon glyphicon glyphicon-trash"
                                          data-toggle="tooltip" data-placement="left" title="Delete"></span></a>
                    </div>
                </li>
                <li class="list-group-item message_item ">
                    <!-- Star -->
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <!-- Other User's Name -->
                    <div class="message_sender_username">
                        <span class="message_sender_username_text">Example</span>
                    </div>

                    <div class="message_preview">
                        <!-- Message Subject -->
                        <span class="message_subject">Subject - </span>
                        <!-- Message Preview -->
                        <span class="message_preview_text">Example</span>
                    </div>


                    <div class="pull-right">
                        <!-- Type -->
                        <span class="glyphicon glyphicon glyphicon-leaf"
                              data-toggle="tooltip" data-placement="left" title="Offer Related"></span>
                        <!-- Receive Date -->
                        <span class="badge">00:00 AM</span>
                        <!-- Trash Can -->
                        <a href="#"><span class="glyphicon glyphicon glyphicon glyphicon glyphicon-trash"
                                          data-toggle="tooltip" data-placement="left" title="Delete"></span></a>
                    </div>
                </li>



                <!-- Example  -->
                <!-- Example  -->
                <!-- Example  -->
                <!-- Example  -->
                <!-- Example  -->

                <!-- Example  -->

                <!-- Example  -->

                <!-- Example  -->

                <!-- Example  -->



            </ul>
        </div>

        <!-- Page Navigation  -->
        <div class="pull-right" id="Inbox_Navigation">
            <span id="navigation_text">Page: <muted><b>1</b> of <b>5</b></muted> </span>
            <div class="btn-group">
                <button type="button" class="btn btn-default"><</button>
                <button type="button" class="btn btn-default">></button>
            </div>
        </div>

    </div>
</div>

<script>
    //Tooltip function initializer
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>


</body>
</html>