<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include ../templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/messaging/message.css">


</head>
<body>
    <% include ../templates/navbar.ejs %>

    No one here but us chickens...

    And it's turtles all the way down.

</body>
</html>