<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <script type="text/javascript">
        function blockSpecialChar(e) {
            var k = e.keyCode;
            //código ASCII dos caracteres permitidos
            return (k == 8 || k == 33 || (k >= 35 && k <= 36) || (k >= 38 && k <= 59) || k == 61 || (k > 62 && k < 92) || k == 93 || (k > 94 && k < 123) || k == 126);
        }
    </script>

    <% include ./../templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/community/create_community.css">
</head>
<body>
<% include ./../templates/navbar.ejs %>
<% include ./../templates/alert_messages.ejs %>

<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 well">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Criar Comunidade</h1>
                </div>
            </div>

            <form role="form" action="/create_community/create" method="post">
                <div class="form-group">
                    <label class="control-label" for="communityName">Nome</label>
                    <input type="text" name="communityName" class="form-control" maxlength="50" onkeypress="return blockSpecialChar(event)" id="communityName" required>
                </div>

                <div class="form-group">
                    <label class="control-label" for="headQuarter">Sede</label>
                    <input type="text" name="headQuarter" class="form-control" maxlength="50" id="headQuarter" required>
                </div>

                <div class="form-group">
                    <label class="control-label" for="description">Descrição</label>
                    <textarea class="form-control" name="description" id="description" maxlength="800" rows="5"></textarea>
                </div>

                <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group">
                            <label class="control-label" for="coin">Moeda</label>
                            <div>
                                <input type="checkbox" name="useCoin" id="useCoin" style="margin-right: 5px;">Usar moeda, nome:
                                <input class="form-control" type="text" name="coinName" maxlength="10" id="coinName" disabled required>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label" for="privacy">Visualização</label>
                        <div>
                            <br>
                            <select class="form-control" name="privacy" id="privacy">
                                <% for(var index = 0; index < privacyList.length; index++) { %>
                                <option value="<%= privacyList[index] %>">
                                    <%= privacyList[index] %>
                                </option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="description">Regras da Comunidade</label>
                    <textarea class="form-control" name="rules" id="description" maxlength="800" rows="5"></textarea>
                </div>

                <div class="text-center" style="margin-top: 20px;">
                    <div class="form-group" id="buttons-panel">
                        <button type="button" class="btn btn-default" onclick="location.href = '/'">Voltar</button>
                        <button type="submit" class="btn btn-success">Criar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("#useCoin").click(function(){
        $("#coinName").prop('disabled', !$('#useCoin').is(":checked"));
    });
</script>

</body>
</html>
