<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>
<body>

<% include templates/navbar.ejs %>
<% include templates/alert_messages.ejs %>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img class="img-responsive center-block" alt="" src="http://placehold.it/420x320"/>
            <br/>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat nisl lacus, non auctor
                magna cursus sed. Etiam quis quam mi. Vivamus tincidunt sapien in fermentum molestie. Pellentesque
                habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </p>
        </div>

        <div class="col-sm-6">
            <h3 class="dark-grey">Registar</h3>

            <form role="form" action="/login/register" method="post">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" name="username" class="form-control" maxlength="20" value="" required onkeypress="return allowValidDigits(event)">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" maxlength="20" value="" required>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Repeat Password</label>
                            <input type="password" name="passwordre" class="form-control" maxlength="20" value="" required>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="" name="email" class="form-control" value="" required>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Repeat Email Address</label>
                            <input type="" name="emailre" class="form-control" value="" required>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <button type="submit" name="register-submit" id="register-submit" class="btn btn-primary">
                                Registar
                            </button>

                            <span class="pull-right">Tem alguma questão? <a href="/faq">FAQ</a></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function allowValidDigits(e) {
        var k = e.keyCode;
        //código ASCII dos caracteres permitidos
        return ((k >= 48 && k <= 57) || (k >= 65 && k <= 90) || (k >= 97 && k <= 122));
    }
</script>

</body>
</html>
