<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/faq.css">
</head>
<body>

<h1 style="text-align: center; margin-top: 125 px;"><%= error_msg %></h1>


</body>
</html>