<% if(typeof user != 'undefined' && user){ %>
<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Local Exchange</a>
		</div>
		
		<div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <div id="search">
                    <form class="navbar-form" action="/search_results/search" method="post" role="search">
                        <div class="input-group">
                            <input id="search-box" name="search" type="text" class="form-control" placeholder="Pesquisa" required>
                            <div class="input-group-btn">
                                <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                <button class="btn btn-default" onclick="location.href = '/search_results/search'"><span class="glyphicon glyphicon-th-list"></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/message/inbox"><span class="glyphicon glyphicon-envelope" style="padding-left: 0.5rem;"></span></a></li>
				<li><a href="/profile/<%= user %>"><%= user %></a></li>
				<li><a href="/login/logout"><span class="glyphicon glyphicon-log-out" style="padding-right: 1rem;"></span>Logout</a></li>
			</ul>
		</div>		
	</div>
</nav>
<% } else{ %>
<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Local Exchange</a>
		</div>

		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<div id="search">
                    <form class="navbar-form" action="/search_results/search" method="post" role="search"">
                        <div class="input-group">
                            <input id="search-box" name="search" type="text" class="form-control input-sm" placeholder="Procura" required>
                            <div class="input-group-btn">
                                <button class="btn btn-default btn-sm" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                    </form>
                </div>
			</ul>

			<ul class="nav navbar-nav navbar-right">
                <div>
                    <form id="signIn" class="navbar-form navbar-right" role="form" action="/login" method="post">
                        <div class="input-group">
                            <span class="input-group-addon" style="height: 18px; padding: 0 4px; margin: 0;"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control input-sm" name="username" value="" placeholder="Username" required>
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" style="height: 18px; padding: 0 4px; margin: 0;"><i class="glyphicon glyphicon-lock "></i></span>
                            <input type="password" class="form-control input-sm" name="password" value="" placeholder="Password" required>
                        </div>

                        <button type="submit" name="login-submit" id="login-submit" class="btn btn-primary">Login</button>

                        <a href="/login" class="btn btn-primary" >Junta-te ao Lets</a>
                    </form>
                </div>
			</ul>
		</div>
	</div>
</nav>
<% } %>