body { margin-top: 75px;font: 14px Geneva, Helvetica, Arial, sans-serif;  background-color: lightsteelblue;}

#main_body{
    background-color: white;
    border: solid #9a9595;
    border-radius: 5px;
    padding: 0px;
}
a, a:hover {
    color: inherit;
    text-decoration: none;
}

#header {
    max-height: 35%;
    vertical-align: top;
    display: block;
    width: 100%;
    color: white;
    background-color: #9a9595;
}
.img-responsive{
    margin-right: 25px;
    float: left;
    min-width: 140px;
    max-width: 200px;
    width: 20%;
    border-radius: 50%;
}



/*If you want to see the page's grid*/
/*
#main_body {
    border: dotted 2px crimson;
}
*/
