body { margin-top: 75px;font: 14px Geneva, Helvetica, Arial, sans-serif;  background-color: lightsteelblue;}

#navbar_float_test {
    height: 3000px;
    width: 200px;
    margin: auto;
    background-color: black;
}


#main_body {    background-color: white;  }