<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <% include ../templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/community/homepage.css">
</head>
<body>
<% include ../templates/navbar.ejs %>

    <div id="navbar_float_test"></div>

<div class="container"id="main_body">

</div>

</body>
</html>