<!DOCTYPE html>
<html>
<head>
    <title> <%= title %> </title>
    <!-- Bootstrap & jQuery -->
    <% include ../templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/offer/new.css">
</head>
<body>

<% include ../templates/navbar.ejs %>
<% include ../templates/alert_messages.ejs %>

<div class="container">
    <h1> Edit Offer </h1><br>
</div>
<div class="container">
    <form role="form" action="/newoffer" method="post" enctype="multipart/form-data">

        <!-- Offer Name-->
        <div class="form-group row">
            <label for="offer_name" class="col-sm-2 col-form-label"> Name : </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="offer_name" name="offer_name" placeholder="Offer Name ..." value="Free Gardening Class" required>
            </div>
        </div>

        <!-- Offer Description -->
        <div class="form-group row">
            <label for="offer_description" class="col-sm-2 col-form-label"> Description : </label>
            <div class="col-sm-10">
                <textarea rows="3" cols="20" class="form-control" id="offer_description" placeholder="Offer Description ..." name="offer_description" required>I have an extra amount of free hours the next week. Show up at my place if you like to garden your flowers as well.
                </textarea>
            </div>
        </div>

        <!-- Offer Price -->
        <div class="form-group row">
            <label for="offer_price" class="col-sm-2 col-form-label"> Price : </label>
            <div class="col-sm-10">
                <input type="number" class="form-control currency"  id="offer_price" placeholder="Offer Price ..." name="offer_price" value="0" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" required />
            </div>
        </div>

        <!-- Offer Type -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Type : </label>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="1"> Material
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="2" checked> Service
                </label>
            </div>
        </div>

        <!-- Offer Image -->
        <div class="form-group row">
            <label for="offer_image" class="col-sm-2 col-form-label"> Image : </label>
            <div class="col-sm-10">
                <input type="file" class="form-control" id="offer_image" name="offer_image">
                <div class="content">
                    <h5><b>Selected image : </b> preety-flowers.png</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div><img width="200" height="200" src="http://placehold.it/420x320"/></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" name="offer-submit" class="btn btn-primary"> Edit Offer </button>
    </form>
</div>
</body>
</html>
