body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#placeholder {
    height: 100px;
    background-color: #0080ff;
}

form {
    padding: 25px 5px 0px 5px;
}