#questions {
    border-right-style: dashed;
    border-width: 1px;
}

#aside-nav * {
    width: 15rem;
    display: inline-block;
    vertical-align: middle;
    float: none;
    align-items: center;
}

#aside-nav a {
    width: 100%;
}

#back-button {
    margin-bottom: 1.5rem;
}