img {
    width: 100%;
    border: none;
}

#container-panel {
    border: 1px solid black;

    margin-top: 100px;
}

#container-panel > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

p {
    font-size: x-large;
    position: static;
}

#container-panel button{
    height: 50px;
    width: 250px;
    font-size: x-large;
    margin-bottom:15px;
}