#buttonsPanel button {
    width: 9em;
}

.modal-header, .close {
    text-align: center;
    font-size: 20px;
}

#editor {
    overflow: auto; max-height:700px; height: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#editor_redirect {
    overflow: auto; max-height:700px; height: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}