<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!-- BootSrap -->
    <% include templates/header.ejs %>

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<h1>Hey</h1>

<br>


</body>
</html>
