<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- BootSrap -->
    <% include templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/create_community.css">
</head>
<body>


<div id="placeholder"><!-- Acrescentem um menu de navegação aqui! --></div>

<form>
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" id="nome">

        <label for="sede">Sede:</label>
        <input type="text" class="form-control" id="sede">
    </div>
    <label for="categoria">Categoria:</label>
    <select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
    </select>
</form>


</body>
</html>
