<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!-- BootSrap -->
    <% include templates/header.ejs %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Escrevam <i>http://localhost:3000/test</i></p>
  </body>
</html>
