<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!-- BootSrap -->
    <% include templates/header.ejs %>

    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>
    <h1>Hey</h1>

    <br>

    <div></div>

    <br>
    <br>
    <br>

    <form action="/register" method="post">
        <input type="text" name="username" id="username" class="form-control" placeholder="Username">
        <input type="password" name="password" id="password" class="form-control" placeholder="Password">
        <input type="submit" name="register-submit" id="register-submit" class="form-control btn btn-login" value="Register">
    </form>

    <br>
    <br>
    <br>
    <br>

    <form action="/login" method="post">
        <input type="text" name="name" id="id" class="form-control" placeholder="Username">
        <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-login" value="Login">
    </form>
</body>
</html>
