<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!-- BootSrap -->
    <% include templates/header.ejs %>

    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>
    <h1>Hey</h1>

    <br>

    <img src="https://j.gifs.com/r0RKmB.gif" class="img-responsive">

</body>
</html>
