<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!-- BootSrap -->
    <% include templates/header.ejs %>
  </head>
  <body>
    <h1>Eu sou o Ruca</h1>
    <img src="http://vignette1.wikia.nocookie.net/caillou/images/a/a8/Caillou-xl-pictures-34.jpg/revision/latest?cb=20121117103401"
        alt="Ruca" style="width:304px;height:228px;">
    <h2>O construtor</h2>
    <button type="button" class="btn btn-info">Info</button>
  </body>
</html>