<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/viewoffer.css">
</head>
<body>
<% include templates/navbar.ejs %>

<div id="container-panel" class="container">
    <h1> Offer1 </h1>
    <br>
	
    <div class="row">
        <div class="col-md-4">
            <div><img width="200" height="440" src="http://placehold.it/420x320"/>
                <br/>
                <br/>
            </div>
        </div>
		
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <div><img width="200" height="200" src="http://placehold.it/420x320"/></div>
                </div>
            </div>
            <br/>
            <br/>

            <div class="row">
                <div class="col-md-6">
                    <div><img width="200" height="200" src="http://placehold.it/420x320"/></div>
                </div>
            </div>
        </div>
		
        <div>
            <p> Utilizador: User1 </p>
            <br>
            <p> Contacto: 1234567890 </p>
            <br>
            <p> Preco: 5 moedas </p>
            <br>
            <p> Descricao: Com este produto e possível resolver bastantes dos seus problemas! </p>
        </div>
    </div>
	
    <button type="submit" class="btn pull-right" >Contactar vendedor</button>
</div>

</body>
</html>